.page-title {
    color: #304377;
    font-weight: bold;
    margin-bottom: 20px;
}

.activity-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.activity-title {
    color: #304377;
    font-size: 24px;
    font-weight: bold;
}

.activity-description {
    margin-top: 10px;
    color: #555;
}

.btn-primary {
    background-color: #304377;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
}

.status-indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.status-indicator.accepted {
    background-color: #1eb10e;
}

.status-indicator.rejected {
    background-color: #d81e1e;
}

.status-indicator.none {
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.activity-status {
    display: flex;
    align-items: center;
}